html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
  min-width: 1200px;
}

.main-index {
  position: relative;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-image-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

  -o-transition: background-image 0.5s ease, background-color 0.5s ease;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.inner-page {
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.15) 300px, transparent 500px);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 300px, transparent 500px);
}


.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-image-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-image-3.png");
}

.container {
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
}


.catalog-item-btn {
  z-index: 2;
  padding: 10px 20px 11px;
  margin-top: 15px;
  font-size: 16px;
  line-height: 26px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: none;
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 24px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.btn:hover,
.btn:focus {
  background-image: none;
  background-color: #f17b64;
  -webkit-box-shadow: 0 2px 2px 0 #ac1000;
  box-shadow: 0 2px 2px 0 #ac1000;
}

.btn:active {
  background-image: -o-linear-gradient(left, #f26843 0%, #e74a35 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#f26843), to(#e74a35));
  background-image: linear-gradient(90deg, #f26843 0%, #e74a35 100%);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav-logo {
  display: block;
  width: 154px;
  height: 63px;
}

.main-nav-list,
.user-nav,
.submenu,
.special-offer-list,
.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 600px;
  margin-left: 9px;
}

.main-nav-link {
  display: block;
  padding: 6px 14px 9px;
  color: #ffffff;
  font-weight: bold;
  line-height: 18px;
  border-radius: 18px;
  -webkit-text-decoration: underline rgba(255, 255, 255, .2);
  text-decoration: underline rgba(255, 255, 255, .2)
}

.main-nav-link:active {
  -webkit-box-shadow: inset 0px 2px 1px 0px #696969;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

/* ---------------------------------------------------------------------- submenu start */

.submenu {
  position: absolute;
  top: 37px;
  left: -5px;
  z-index: 3;
  width: 142px;
  padding-top: 2px;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(194, 206, 199, 0.5);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
  -o-transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
  transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
}

.has-submenu {
  position: relative;
}

.has-submenu:hover .submenu,
.has-submenu:focus .submenu,
.submenu:hover,
.submenu:focus {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.has-submenu::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 20px;
}

.submenu-link {
  display: block;
  padding: 6px 10px 3px 19px;
  font-size: 14px;
  color: #323232;
  background-color: #f8f7f4;
}

.submenu-link-bold {
  position: relative;
  padding-top: 3px;
  padding-bottom: 10px;
  font-weight: bold;
}

.submenu li:last-child {
  padding-bottom: 7px;
}

.submenu-link-bold::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 128px;
  height: 1px;
  background-color: #d1d0ce;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.submenu-link:hover,
.submenu-link:focus {
  color: #323232;
  background-color: #fbded7;
}

.submenu-link:active {
  color: #323232;
  background-color: #f6b5a5;
}

.submenu-link-current,
.submenu-link-current:hover,
.submenu-link-current:focus,
.submenu-link-current:active {
  color: #ffffff;
  background-color: #d07058;
}

/* ----------------------------------------------------------------------------- submenu end */

/* -----------------------------------------------------------------------    user-nav start */

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: auto;
}

.user-nav li {
  position: relative;
  margin-left: 10px;
}

.user-nav-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 31px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}

.search-link {
  width: 30px;
  padding: 0;
}

.login-link {
  width: 92px;
}

.cart-link {
  width: 100px;
}

.search-link svg {
  width: 17px;
  height: 17px;
}

.login-link svg {
  width: 21px;
  height: 20px;
}

.cart-link svg,
.cart-link-red svg {
  width: 29px;
  height: 20px;
  padding-right: 5px;
}

.main-nav-link:hover,
.main-nav-link:focus,
.user-nav-link:hover,
.user-nav-link:focus {
  color: #000000;
  background-color: #f8f7f4;
}

.main-nav-link-active {
  color: #ffffff;
  background-color: #d07058;
  text-decoration: none;
}

.user-nav-link:hover:not(.cart-link-red) path,
.user-nav-link:focus:not(.cart-link-red) path,
.user-nav-link:hover:not(.cart-link-red) circle,
.user-nav-link:focus:not(.cart-link-red) circle {
  fill: #000000;
}

.cart-link-red {
  background-color: #f7f6f3;
  color: #000000;
  padding: 5px 15px;
}

.user-nav-form {
  position: absolute;
  right: -1px;
  top: 35px;
  z-index: 3;
  padding: 20px 15px;
  background-color: #f7f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
  -o-transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
  transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
}

.form-search {
  width: 339px;
  right: 1px;
}

.form-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 275px;
  padding: 20px 18px 21px;
}

.form-login p {
  width: 100%;
  margin: 0;
  padding: 0;
}

.form-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 540px;
  font-size: 13px;
  line-height: 16px;
  color: #353535;
}

.user-nav-item:hover .user-nav-form,
.user-nav-form:hover {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.user-nav-form input {
  width: 100%;
  height: 44px;
  padding: 12px;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #c7c6c5;
  border-radius: 4px;
  color: #323232;
  font-weight: bold;
}

.user-nav-form input:hover {
  border: 2px solid #c7c6c5;
  padding: 11px;
}

.user-nav-form input:focus {
  border: 2px solid #8fbdec;
  padding: 11px;
}

.user-nav-form input::-webkit-input-placeholder {
  color: #989898;
  font-weight: normal;
}

.user-nav-form input::-moz-placeholder {
  color: #989898;
  font-weight: normal;
}

.user-nav-form input:-ms-input-placeholder {
  color: #989898;
  font-weight: normal;
}

.user-nav-form input::-ms-input-placeholder {
  color: #989898;
  font-weight: normal;
}

.user-nav-form input::placeholder {
  color: #989898;
  font-weight: normal;
}

.form-login input {
  padding: 13px;
  margin-bottom: 20px;
}

.form-login input:hover {
  padding: 12px;
}

.form-login input:focus {
  padding: 12px;
}

.user-nav-item::before {
  position: absolute;
  content: "";
  height: 30px;
  left: -10px;
  bottom: -8px;
}

.user-nav-search {
  width: 31px;
}

.user-nav-search::before {
  width: 42px;
}

.user-nav-login::before {
  width: 104px;
}

.user-nav-cart::before {
  width: 128px;
}

.login-btn {
  padding: 8px 25px;
  border-radius: 20px;
  line-height: 24px;
}

.login-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #353535;
  text-decoration: underline;
  font-size: 13px;
  line-height: 22px;
}

.login-links a:hover,
.login-lonks a:focus {
  color: #ffbc9e;
}

.user-nav-cart-table {
  border-bottom: 1px solid #c9c9c6;
  table-layout: fixed;
  width: 512px;
  border-collapse: collapse;
  vertical-align: baseline;
}

.user-nav-cart-table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 18px;
}

.form-cart p {
  margin: 12px 0 0;
  padding: 0;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

.cart-remove {
  width: 26px;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cart-picture {
  width: 46px;
}

.cart-product {
  width: 247px;
  padding-right: 15px;
}

.cart-price {
  width: 122px;
  padding-right: 10px;
}

.cart-amount {
  width: 71px;
}

.cart-picture img {
  border-radius: 50%;
  vertical-align: middle;
}

.form-cart span {
  color: #989898;
}

.user-nav-cart-btn {
  margin-top: 13px;
  margin-left: auto;
  padding: 8px 16px 12px;
  font-size: 18px;
  line-height: 26px;
}

.cart-remove-btn {
  position: relative;
  line-height: 24px;
  width: 20px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: #f7f7f4;
}


.cart-remove-btn::before,
.cart-remove-btn::after {
  content: "";
  position: absolute;
  top: 64%;
  left: 25%;
  width: 15px;
  height: 1px;
  background-color: #231F20;
}

.cart-remove-btn::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.cart-remove-btn::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* -----------------------------------------------------------------------    user-nav end */

.schedule {
  width: 167px;
  margin: 0 0 0 auto;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;
}

.schedule a {
  display: block;
  margin-top: 6px;
  margin-right: -1px;
  color: #ffffff;
  font-size: 22px;
}

/* -----------------------------------------------------------------------    breadcrumbs start */

.breadcrumbs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  width: 50%;
  margin: -15px 0px 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.breadcrumbs a {
  position: relative;
  display: block;
  color: #ffffff;
  list-style: none;
  text-decoration: underline;
}

.breadcrumbs li {
  position: relative;
  padding-right: 20px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "»";
  position: absolute;
  right: 6px;
  top: 0;
  text-decoration: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
}

/* -----------------------------------------------------------------------    breadcrumbs end */


/* -----------------------------------------------------------------------    slider start */

.special-offer {
  position: relative;
  padding-top: 277px;
  padding-bottom: 45px;
  text-align: center;
  color: #ffffff;
}

.special-offer-name {
  width: 700px;
  margin: 0px auto 32px;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.special-offer-btn {
  padding: 8px 40px 12px;
  font-size: 32px;
  border-radius: 35px;
  line-height: 60px;
  text-shadow: 0px 2px 5px rgba(137, 37, 20, 0.76);
}

.slider-controls {
  position: absolute;
  bottom: 62px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.special-offer-item {
  display: none;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-image-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-image-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-image-3.png");
}

#product-1:checked ~ .site-wrapper #special-offer-1,
#product-2:checked ~ .site-wrapper #special-offer-2,
#product-3:checked ~ .site-wrapper #special-offer-3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* -----------------------------------------------------------------------    slider end */


.offer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 13px;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 560px;
  margin-bottom: 27px;
  padding: 23px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.offer-name {
  margin: 0 0 26px;
  font-size: 35px;
}

.offer-raspberry {
  background-color: #9a3443;
  background-image: url("../img/raspberry-bg.jpg");
}

.offer-chocolate {
  background-color: #41281a;
  background-image: url("../img/chocolate-bg.jpg");
}

.offer p {
  margin: 0 0 45px;
  font-size: 18px;
  font-weight: bold;
}

.offer-btn {
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  padding: 10px 23px;
  line-height: 26px;
  text-align: right;
}

/* ---------------------------------------------------------------------- catalog start */

.catalog-filter {
  margin-bottom: 20px;
}

.catalog-filter-title {
  margin: 3px 0 23px;
  font-size: 35px;
  line-height: 40px;
}

.catalog-filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 860px;
  padding-bottom: 10px;
}

.catalog-filter-set {
  padding: 0;
  margin: 0 0 11px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  border: none;
}

.filter-legend {
  margin-left: 16px;
  margin-bottom: 3px;
}

.catalog-filter-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 17px;
  padding: 9px 4px 9px 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.checkbox-filter {
  padding-left: 16px;
  padding-right: 0px;
}


.catalog-filter-group label {
  position: relative;
  padding: 0 10px 0 32px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-filter label {
  padding: 0 16px 0 32px;
}

.checkbox-filter label {
  padding: 0 21px 0 32px;
}

.catalog-filter-sorting {
  width: 193px;
  height: 36px;
  padding: 0 10px 0 11px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 92% center;
  border: none;
  border-radius: 17px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.catalog-filter-sorting:hover,
.catalog-filter-sorting:focus {
  color: #323232;
  background-image: url("../img/icon-down-dir-gray.svg");
}

.catalog-filter-sorting::-ms-expand {
  display: none;
}

.catalog-filter-sorting option {
  color: #353535;
}

.range-controls {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 17px;
  position: relative;
  width: 220px;
  height: 36px;
  padding: 16px 22px;
}

.range-controls .scale {
  padding-left: 25px;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  width: 100px;
  height: 4px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 9px;
  width: 20px;
  height: 20px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle-min {
  left: 36px;
}

.range-toggle-max {
  left: 134px;
}

.range-toggle:hover,
.range-toggle:focus {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.radio,
.checkbox {
  position: relative;
  padding-left: 42px;
  font-size: 16px;
  line-height: 18px;
}

.radio::before {
  position: absolute;
  top: -2px;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  content: "";
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.8);
}

input:checked + .radio::after {
  position: absolute;
  top: 4px;
  left: 6px;
  display: block;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.8);
}

input:disabled + .radio::before {
  border-color: rgba(255, 255, 255, 0.4);
}

.radio:hover::before,
input:checked + .radio:hover::after {
  border-color: #ffffff;
  cursor: pointer;
}

.radio-filter input[type="radio"]:focus + label::before,
.radio-filter input[type="radio"]:focus + label::after {
  border-color: #ffffff;
}

.radio-filter input[type="radio"]:focus + label::before {
  outline: #3b99fc auto 5px;
}

.checkbox::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.8;
}

input:checked + .checkbox::before {
  visibility: hidden;
}

input:checked + .checkbox::after {
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  width: 24px;
  height: 22px;
  content: "";
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.8;
}

.checkbox:hover::before,
input:checked + .checkbox:hover::after {
  opacity: 1;
  cursor: pointer;
}

input:disabled + .checkbox:before,
input:disabled + .checkbox:after,
input:checked:disabled + .checkbox:hover::after {
  opacity: 0.4;
  pointer-events: none;
}

.checkbox-filter input[type="checkbox"]:focus + label::before,
.checkbox-filter input[type="checkbox"]:focus + label::after {
  outline: #3b99fc auto 5px;
  opacity: 1;
}

.catalog-filter-btn {
  padding: 7px 27px;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  cursor: pointer;
}

.catalog-filter-btn:hover,
.catalog-filter-btn:focus {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}

.catalog-filter-btn:active {
  color: #000000;
  background-color: #eaeaea;
  border: none;
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.4);
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.4);
  padding: 9px 29px;

}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  margin-right: 26px;
  margin-bottom: 40px;
}

.catalog-item:nth-child(n+5) {
  margin-top: -63px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 267px;
}

.catalog-item-photo img {
  border-radius: 50%;
  background-color: #e5b66a;
}

.catalog-item-photo {
  z-index: 2;
}

.hit-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.catalog-item-price {
  z-index: 2;
  margin: -65px 0px 21px -2px;
  text-align: left;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(52, 53, 56, 0.5);
  cursor: default;
}

.catalog-item-price span {
  font-size: 30px;
}

.catalog-item-name {
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  -webkit-text-decoration: underline rgba(255, 255, 255, 0.2);
  text-decoration: underline rgba(255, 255, 255, 0.2);
  z-index: 2;
}

.catalog-item-name:hover,
.catalog-item-name:focus {
  color: #ffbc9e;
  -webkit-text-decoration: underline #ffbc9e;
  text-decoration: underline #ffbc9e;
}

.catalog-item-article::before {
  position: absolute;
  top: -5px;
  left: -13px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  width: 110%;
  height: 105%;
  content: "";
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-item-article:hover::before {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.catalog-item-article:hover {
  z-index: 3;
}

.catalog-item-article:hover .catalog-item-btn,
.catalog-item-article:focus .catalog-item-btn {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}



/* ---------------------------------------------------------------------- catalog end */


.about {
  color: #323232;
  background-color: #e2d5b5;
  background-image: url("../img/waffle-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -63px;
  margin-bottom: 40px;
  border-radius: 15px;
  padding: 24px 20px 11px;
}

.about-title {
  margin: 0 0 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-item {
  position: relative;
  width: 540px;
  padding-bottom: 14px;
  padding-top: 7px;
  padding-left: 57px;
}

.about-item::before {
  position: absolute;
  left: 0;
  top: -5px;
  content: "";
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-item-icecream::before {
  background-image: url("../img/ice-cream.svg");
}

.about-item-leaf::before {
  background-image: url("../img/eco.svg");
}

.about-item-cow::before {
  background-image: url("../img/cow.svg");
}

.about-item-therm::before {
  background-image: url("../img/thermometer.svg");
}

.feed-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 14px;
}

.news-blog {
  width: 560px;
  background-color: #ffffff;
  background-image: url("../img/strawberry-banner.png");
  background-position: 126% 19%;
  background-repeat: no-repeat;
  padding: 20px;
  margin-bottom: 26px;
  border-radius: 15px;
}

.news-blog-title {
  margin: 0 0 2px;
  color: #323232;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.news-blog-link {
  display: block;
  width: 290px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  text-decoration: underline;
}

.news-blog-link:hover,
.news-blog-link:focus {
  color: #ffbc9e;
}

.subscribe {
  width: 560px;
  background-color: #f8f7f4;
  border: 5px solid transparent;
  padding: 29px 20px 36px 22px;
  margin-bottom: 26px;
  border-radius: 15px;
  background-image: -o-linear-gradient(#f8f7f4, #f8f7f4), -o-repeating-linear-gradient(315deg, #f8f7f4, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f7f4), to(#f8f7f4)), repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background-image: linear-gradient(#f8f7f4, #f8f7f4), repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
}

.subscribe p {
  color: #5a5a5a;
  margin: 0;
  padding-bottom: 35px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subscribe input::-webkit-input-placeholder {
  color: #999999;
  font-weight: normal;
}

.subscribe input::-moz-placeholder {
  color: #999999;
  font-weight: normal;
}

.subscribe input:-ms-input-placeholder {
  color: #999999;
  font-weight: normal;
}

.subscribe input::-ms-input-placeholder {
  color: #999999;
  font-weight: normal;
}

.subscribe input::placeholder {
  color: #999999;
  font-weight: normal;
}

.subscribe input {
  width: 368px;
  height: 44px;
  padding: 12px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #c7c6c5;
  border-radius: 4px;
  color: #323232;
  font-weight: bold;
}

.subscribe-btn {
  padding: 7px 19px 11px;
  line-height: 26px;
}

.subscribe input:hover {
  border: 2px solid #c7c6c5;
  padding: 11px;
}

.subscribe input:focus {
  border: 2px solid #8fbdec;
  padding: 11px;
}

.contacts {
  position: absolute;
  right: 0;
  bottom: -381px;
  background-color: #ffffff;
  color: #323232;
  width: 302px;
  border-radius: 15px;
  padding: 29px 25px 30px;
  z-index: 3;
}

.contacts p {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20px;
}

.contacts-big-text {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  margin-bottom: -7px;
}

a.contacts-big-text {
  margin: 4px 0 2px;
}

.contacts-btn {
  display: block;
  margin-top: 20px;
  padding: 7px 27px 12px;
  line-height: 26px;
}

.map {
  width: 100%;
  height: 430px;
  background-color: #ece5c8;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.map img {
  display: block;
  margin: 0 auto;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: -21px 0 31px;
  padding: 0;
  list-style: none;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 2px;
  width: 26px;
  height: 26px;
  color: #ffffff;
  border-radius: 50%;
}

.current-page {
  color: #323232;
  background-color: #ffffff;
}

.prev-page::before,
.last-page::before {
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  border-bottom: 1px solid #ffffff;

}

.prev-page::before {
  border-left: 1px solid #ffffff;
  opacity: 0.2;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.last-page:before {
  border-right: 1px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.next-page:hover,
.next-page:focus {
  background-color: #9db1a5;
}

.next-page:active {
  color: #000000;
  background-color: #ffffff;
}

/* ------------------------------------------------------------------------- footer  start */

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -1px;
  padding-top: 18px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.4)
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 250px;
  margin: 20px 4px 0;
  padding: 0;
  list-style: none;
}

.socials li {
  margin-right: 17px;
  margin-bottom: 9px;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 50% 50%;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  border-radius: 50%;
}

.social-link:nth-child(4n) {
  margin-right: 0;
}

.social-link-tw {
  background-image: url("../img/twitter.svg");
}

.social-link-insta {
  background-image: url("../img/instagram.svg");
}

.social-link-fb {
  background-image: url("../img/fb.svg");
}

.social-link-vk {
  background-image: url("../img/vk.svg");
}

.social-link:hover,
.social-link:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.main-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-width: 412px;
  margin: 6px 0 0;
  padding: 0;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-footer-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-footer-list li {
  margin-right: 9px;
}

.main-footer-list a {
  position: relative;
  color: #ffffff;
  text-decoration: underline;
  font-size: 13px;
  line-height: 18px;
  padding-left: 22px;
}

.main-footer-list a:hover,
.main-footer-list a:focus {
  color: #ffbc9e;
}

.favorite {
  position: relative;
  font-weight: bold;
}

.favorite::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.copyright {
  margin: -4px 0 0;
  width: 190px;
  font-size: 12px;
  line-height: 18px;
}

.copyright-logo {
  display: block;
  margin-left: 2px;
  margin-bottom: 2px;
  width: 108px;
  height: 39px;
}

.copyright-link {
  color: #ffffff;
  text-decoration: underline;
}

.copyright-link:hover,
.copyright-link:focus {
  color: #ffbc9e;
}

/* --------------------------------------------------------------------------- footer  end */


/* -----------------------------------------------------------------------    modal start */

.modal-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.modal {
  display: none;
  position: fixed;
  color: #353535;
  background-color: #f7f7f4;
  border-radius: 10px;
  padding: 19px 23px 24px;
  -webkit-transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
  -o-transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
  transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
  z-index: 6;
}

.modal-feedback {
  top: 50%;
  left: 50%;
  margin-top: -222px;
  margin-left: -235px;
  width: 477px;
  -webkit-animation: move 500ms;
  animation: move 500ms;
}

.modal-show,
.overlay-show {
  display: block;
}

.modal-error {
  -webkit-animation: shake 500ms;
  animation: shake 500ms;
}

.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.modal-name {
  margin: 0 0 23px;
  padding: 0;
  color: #353535;
}

.modal p {
  margin: 0;
  padding: 0;
}

.modal input::-webkit-input-placeholder,
.modal textarea::-webkit-input-placeholder {
  color: #989898;
  font-weight: normal;
}

.modal input::-moz-placeholder,
.modal textarea::-moz-placeholder {
  color: #989898;
  font-weight: normal;
}

.modal input:-ms-input-placeholder,
.modal textarea:-ms-input-placeholder {
  color: #989898;
  font-weight: normal;
}

.modal input::-ms-input-placeholder,
.modal textarea::-ms-input-placeholder {
  color: #989898;
  font-weight: normal;
}

.modal input::placeholder,
.modal textarea::placeholder {
  color: #989898;
  font-weight: normal;
}

.modal input {
  width: 266px;
  height: 44px;
  padding: 14px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #c7c6c5;
  border-radius: 4px;
  color: #323232;
  font-weight: bold;
}

.modal input:hover {
  border: 2px solid #c7c6c5;
  padding: 13px;
}

.modal input:focus {
  border: 2px solid #8fbdec;
  padding: 13px;
}

.modal textarea {
  width: 428px;
  height: 155px;
  padding: 6px 14px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #c7c6c5;
  border-radius: 4px;
  color: #323232;
  font-weight: bold;
}

.modal textarea:hover {
  border: 2px solid #c7c6c5;
  padding: 5px 13px;
}

.modal textarea:focus {
  border: 2px solid #8fbdec;
  padding: 5px 13px;
}

.modal-btn {
  padding: 10px 24px 11px;
  margin-top: 20px;
  margin-left: auto;
  line-height: 26px;
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 16px;
  line-height: 24px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: #f7f7f4;
}

.modal-close-btn::before,
.modal-close-btn::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 1px;
  width: 20px;
  height: 2px;
  background-color: #231F20;
}

.modal-close-btn::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close-btn::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* -----------------------------------------------------------------------    modal end */

@-webkit-keyframes move {
  from {
    -webkit-transform: translateY(1500px);
    transform: translateY(1500px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateY(1500px);
    transform: translateY(1500px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
