body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.button {
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
}

.promo .button {
  font-size: 18px;
}

.main-navigation {
  line-height: 18px;
}

.site-navigation a {
  text-decoration: underline;
}

.site-navigation,
.user-navigation,
.catalog-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #000000;
  background-color: #f8f7f4;
}

.catalog-navigation a {
  color: #323232;
  background-color: #f8f7f4;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
color: #323232;
background-color: #fbded7;
}

.catalog-navigation a:active {
  color: #323232;
  background-color: #f6b5a5;
}

.catalog-navigation a:visited {
  color: #ffffff;
  background-color: #d07058;
}

.promo h2 {
  font-size: 35px;
}

.promo p {
  font-size: 18px;
}

.promo-raspberry {
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.promo-chocolate {
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.hit-list {
  list-style: none;
}

.hit-item {
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-size: auto;
}

.hit-item img {
  border-radius: 50%;
}

.hit-item p {
  font-size: 45px;
  line-height: 45px;
}

.hit-item span {
  font-size: 30px;
}

a.hit-name {
  color: #ffffff;
  text-decoration: underline;
}

.about {
  color: #323232;
  background-image: url("../img/waffle-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.about h2 {
  font-size: 24px;
  line-height: 30px;
}

.about ul {
  list-style: none;
}

.blog {
  background-image: url("../img/strawberry-full.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
.blog h2 {
  color: #323232;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.subscribe {
  background-color: #f8f7f4;
  border-width: 5px;
  border-image: url("../img/bg-post.svg");
}

.subscribe p {
  color: #5a5a5a;
}

.subscribe button {
  font-size: 18px;
  line-height: 24px;
}

.address {
  background-color: #ffffff;
  color: #323232;
}

.address h2 {
  font-size: 14px;
  line-height: 20px;
}

.address p {
  font-size: 14px;
  line-height: 20px;
}

.address.phone {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.address b {
  font-size: 18px;
  line-height: 24px;
}

.twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.insta {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.fb {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.vk {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.more {
  list-style: none;
}

.more a {
  color: #ffffff;
  text-decoration: underline;
  font-size: 13px;
  line-height: 18px;
}

.copyright {
  font-size: 12px;
  line-height: 18px;
}

a.copyright {
  color: #ffffff;
  text-decoration: underline;
}

.display-none {
  display: none;
}



