html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* временно для блоков, выделенных красным */

.display-none {
  display: none;
}

.button {
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
}

a:hover.button,
a:focus.button {
  background-image: none;
  background-color: #f17d65;
}

.logo img {
  width: 154px;
  height: 63px ;
}

.main-nav {
  line-height: 18px;
}

.site-nav a {
  text-decoration: underline;
}

.user-nav {
  font-size: 14px;
  line-height: 16px;
  background-color: #9db1a5;
}

.site-nav,
.user-nav,
.catalog-nav {
  list-style: none;
}

.site-nav a,
.user-nav a {
  color: #ffffff;
}

.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus {
  color: #000000;
  background-color: #f8f7f4;
}

.catalog-nav a {
  color: #323232;
  background-color: #f8f7f4;
}

.catalog-nav a:hover,
.catalog-nav a:focus {
color: #323232;
background-color: #fbded7;
}

.catalog-nav a:active {
  color: #323232;
  background-color: #f6b5a5;
}

.catalog-nav a:visited {
  color: #ffffff;
  background-color: #d07058;
}

p.schedule {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.schedule a {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.offer h2 {
  font-size: 35px;
}

.offer p {
  font-size: 18px;
}

.offer-button {
  font-size: 18px;
}

.offer-raspberry {
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.offer-chocolate {
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.items-list {
  list-style: none;
}

.items-list img {
  border-radius: 50%;
}

.items-list p {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.items-list span {
  font-size: 30px;
}

.items-list-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

a.item-name {
  color: #ffffff;
  text-decoration: underline;
}

a.item-name:hover,
a.item-name:focus {
  color: #ffbc9e;
}

.about {
  color: #323232;
  background-image: url("../img/waffle-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.about h2 {
  font-size: 24px;
  line-height: 30px;
}

.about ul {
  list-style: none;
}

.about-item {
  position: relative;
}

.about-item-icecream::before {
   content: "";
   width: 49px;
   height: 49px;
   padding-right: 40px;
   background-image: url("../img/ice-cream.svg");
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
 }

.about-item-leaf::before {
  content: "";
  width: 49px;
  height: 49px;
  padding-right: 40px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.about-item-cow::before {
  content: "";
  width: 49px;
  height: 49px;
  padding-right: 40px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.about-item-therm::before {
  content: "";
  width: 49px;
  height: 49px;
  padding-right: 40px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.blog {
  background-image: url("../img/strawberry-full.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
.blog h2 {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.subscribe {
  background-color: #f8f7f4;
  border-width: 5px;
  border-image: url("../img/bg-post.svg");
}

.subscribe p {
  color: #5a5a5a;
}

.subscribe input {
  font-size: 16px;
  line-height: 24px;
}

input:hover {
  border: 2px solid #c7c6c5;
}

input:focus {
  border: 2px solid #8fbdec;
}

.contacts {
  background-color: #ffffff;
  color: #323232;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
}

.contacts-big-text {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}

/* footer */

ul.socials {
  list-style: none;
}


.twitter {
  content: "";
  position: relative;
  padding: 0 20px;
  width: 38px;
  height: 38px;
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.insta {
  content: "";
  position: relative;
  padding: 0 20px;
  width: 38px;
  height: 38px;
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.fb {
  content: "";
  position: relative;
  padding: 0 20px;
  width: 38px;
  height: 38px;
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.vk {
  content: "";
  position: relative;
  padding: 0 20px;
  width: 38px;
  height: 38px;
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.more {
  list-style: none;
}

.more a {
  color: #ffffff;
  text-decoration: underline;
  font-size: 13px;
  line-height: 18px;
}

.more a:hover,
.more a:focus {
  color: #ffbc9e;
}

.copyright {
  font-size: 12px;
  line-height: 18px;
}

a.copyright {
  color: #ffffff;
  text-decoration: underline;
}

a.copyright:hover,
a.copyright:focus {
  color: #ffbc9e;
}

/* catalog */

.breadcrumps {
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.breadcrumps a {
  color: #ffffff;
  list-style: none;
  text-decoration: underline;
}

.breadcrumps a:hover,
.breadcrumps a:focus {
  color: #ffbc9e;
}

.items h1 {
  font-size: 35px;
  line-height: 41px;
}

ul.pagination {
  list-style: none;
}

.pagination a {
  color: #ffffff;
}

.pagination a:hover,
.pagination a:focus {
  background-color: #9db1a5;
}

.pagination a:active {
  color: #000000;
  background-color: #ffffff;
}
